* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: Tahoma;
}

body {
	margin: 0px;
	background-color: #db7100;
	font-family: Tahoma;
}

@font-face {
	font-family: Tahoma;
	src: url(fonts/tahoma.ttf);
}

@font-face {
	font-family: Tahoma;
	src: url(fonts/tahomabd.ttf);
	font-weight: bold;
}

/* Navigation bar */
.navBar {
	overflow: hidden;
	background-color: #fff;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	margin: 0px;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.11); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.11);
	z-index: 111111;
}

/* Navigation bar links */
.navBar a {
	opacity: 1.0;
	transition: .4s;
	z-index: 222222;
}

/* Navigation bar left elements */
.navBarInnerLeft {
	float: left;
	font-family: Tahoma;
	font-size: 48px;
	display: block;
	color: #333;
	letter-spacing: -1px;
	text-align: left;
	padding: 25px 0px 0px 17px;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	font-weight: bold;
	transition: .4s;
	z-index: 222222;
	
}

#small {
	font-size: 20px;
	margin-bottom: -10px;
}

/* Navigation bar right elements */
.navBarInnerRight {
	float: right;
	display: block;
	color: #f2f2f2;
	letter-spacing: -1px;
	text-align: right;
	padding: 20px 18px 6px 12px;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	z-index: 222222;
}

/* Navigation bar logo image */
.navBar img {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 14px 24px 28px;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	z-index: 222222;
}

/* Navigation bar left elements link settings */
.navBarInnerLeft a {
	float: left;
	font-family: Tahoma;
	font-size: 55px;
	display: block;
	color: #333;
	text-align: center;
	padding: 20px 0px 0px 20px;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	font-weight: bold;
	z-index: 222222;
}

/* Navigation bar right elements link settings */
.navBarInnerRight a {
	float: right;
	font-family: Tahoma;
	font-weight: bold;
	font-size:18px;
	display: block;
	color: #333;
	text-align: center;
	text-decoration: none;
	padding: 32px 23px 0px 23px;
	position: relative;
	vertical-align: middle;
	transition: .4s;
	z-index: 222222;
}

/* Navigation bar links (mouse-over settings) */
.navBar a:hover {
	opacity: 0.4;
	z-index: 222222;
}

/* Navigation bar links (mouse-over settings) */
.navBarInnerRight a:hover {
	opacity: 0.4;
	z-index: 222222;
}






/* Body container */
.container {
	margin: 0 auto;
	max-width: 600px;
	z-index: 100;
}



/* Block container for individual posts */
.block-about {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.13); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.13);
	border-radius: 4px;
	padding: 40px;
	margin: 33px 0;
    animation: fadein .75s;
    -moz-animation: fadein .75s; /* Firefox */
    -webkit-animation: fadein .75s; /* Safari and Chrome */
    -o-animation: fadein .75s; /* Opera */
}


/* Block container for individual posts */
.block-job {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.13); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.13);
	border-radius: 4px;
	padding: 40px;
	margin: 33px 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


/* Block post titles */
.title {
	margin: 0;
	color: #333;
}

/* Block post body text */
.text {
	color: #333;
	margin: 20px 0;
}

.link-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 500px;
	margin-left: 5px;
}

.link-button {
	opacity: 1.0;
	transition: 1s;
	display: inline-block;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	height: 50px;
	width: 156px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 0px 10px 0px 10px;
}

.link-button-text a {
	vertical-align: middle;
	align: middle;
	text-decoration: none;
	color: #fff;
	text-align: center;
	opacity: 1.0;
}

.link-button:hover {
	opacity: 0.4;
}

/* User info */
.user-info {
	display: flex;
	align-items: center;
}

/* User info */
.user-info img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

/* User info */
.user-info span {
	font-size: 13px;
	margin-left: 10px;
}



/* Loading animation */
.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

/* Loading animation */
.loading.show {
	opacity: 1;
}

/* Loading animation */
.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

/* Loading animation */
.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

/* Loading animation */
.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

/* Loading animation */
@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}