/* Tahoma font imported */
@font-face {
	font-family: Tahoma;
	src: url(../fonts/tahoma.ttf);
}

@font-face {
	font-family: Tahoma;
	src: url(../fonts/tahomabd.ttf);
	font-weight: bold;
}




/*********************** Global settings ***********************/
* {
	font-family: Tahoma;
	text-decoration: none;
}

html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
	margin: 0px;
	background-color: #db7100;
}

a {
	color: #c49700;
	opacity: 1.0;
	transition: .5s;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

a:hover {
	opacity: 0.6;
}

/** Screen size adjustments for various platforms (desktop/mobile) **/
@media (min-width: 858px) {
    a {
        font-size: 14px;
    }
}
 
@media (min-width: 780px) {
    a {
        font-size: 14px;
    }
}
 
@media (min-width: 702px) {
    a {
        font-size: 14px;
    }
}
 
@media (min-width: 624px) {
    a {
        font-size: 14px;
    }
}
 
@media (max-width: 623px) {
    a {
        font-size: 14px;
    }
}


/*********************** Navigation bar ***********************/
.navBar {
	background-color: #fff;
	width: 100%;
	margin: 0px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05);
	overflow: hidden;
	position: fixed;
	z-index: 111111;
	padding-top: 10px;
}

/* Navigation bar links */
.navBar a {
	opacity: 1.0;
	transition: .4s;
	z-index: 222222;
}

/* Navigation bar left elements */
.navBarInnerLeft {
	float: left;
	font-size: 48px;
	display: block;
	color: #333;
	letter-spacing: -1px;
	text-align: left;
	padding: 25px 0px 0px 17px;
	position: relative;
	vertical-align: middle;
	font-weight: bold;
	transition: .4s;
	z-index: 222222;
	
}

/* Navigation bar right elements */
.navBarInnerRight {
	float: right;
	display: block;
	color: #f2f2f2;
	letter-spacing: -1px;
	text-align: right;
	padding: 20px 18px 6px 12px;
	position: relative;
	vertical-align: middle;
	z-index: 222222;
}

/* Navigation bar logo image */
.navBar img {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 14px 23px 28px;
	position: relative;
	vertical-align: middle;
	z-index: 222222;
}

/* Navigation bar left elements link settings */
.navBarInnerLeft a {
	float: left;
	font-size: 55px;
	display: block;
	color: #333;
	text-align: center;
	padding: 20px 0px 0px 20px;
	position: relative;
	vertical-align: middle;
	font-weight: bold;
	z-index: 222222;
}

/* Navigation bar right elements link settings */
.navBarInnerRight a {
	float: right;
	font-weight: bold;
	font-size:17px;
	display: block;
	color: #333;
	text-align: center;
	padding: 32px 23px 0px 23px;
	position: relative;
	vertical-align: middle;
	transition: .4s;
	z-index: 222222;
}

/* Navigation bar links (mouse-over settings) */
.navBar a:hover {
	opacity: 0.4;
	z-index: 222222;
}

/* Navigation bar links (mouse-over settings) */
.navBarInnerRight a:hover {
	opacity: 0.4;
	z-index: 222222;
}

/* Styling for small 'THE' in navigation logo */
#small {
	font-size: 20px;
	margin-bottom: -10px;
}




/*********************** Body container and contained elements ***********************/
.container {
	margin: 0 auto;
	max-width: 630px;
	z-index: 100;
}


/* Block container for stand-alone pages */
.block-content {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05);
	border-radius: 4px;
	padding: 40px;
	margin: 33px 0;
    animation: fadein .75s;
    -moz-animation: fadein .75s; /* Firefox */
    -webkit-animation: fadein .75s; /* Safari and Chrome */
    -o-animation: fadein .75s; /* Opera */
}

/* Block container for homepage post */
.block-post {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05);
	border-radius: 4px;
	padding: 30px 54px 20px 36px;
	margin: 33px 0;
    animation: fadein 2s;
	min-height: 0px;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
	  -webkit-transition: max-height .5s ease-in-out, min-height .5s ease-in-out,;
  -moz-transition: max-height .75s ease-in-out, min-height .5s ease-in-out;
  -ms-transition: max-height .75s ease-in-out, min-height .5s ease-in-out;
  -o-transition: max-height .75s ease-in-out, min-height .5s ease-in-out;
  transition: max-height .75s ease-in-out, min-height .5s ease-in-out;
}

/* Block container for homepage post */
.block-deer {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05); 
	box-shadow: 0px 3px 24px 5px rgba(0,0,0,0.05);
	border-radius: 4px;
	padding: 40px 38px 38px 38px;
	margin: 33px 0;
    animation: fadein 3s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


/* Block post titles */
.title {
	margin: 0;
	color: #333;
}

.title a {
	opacity: 1;
	color: #333;
	font-size: 1em;
	transition: .4s;
}

.title a:hover {
	opacity: 0.5;
}

/* Block post titles */
.page-title {
	margin: 0;
	color: #333;
	text-align: center;
	letter-spacing: -1px;
}

/* Block post titles */
.subtitle {
	margin: 0;
	color: #333;
}

/* Block post body text */
.text {
	color: #333;
	margin: 20px 0;
}

/* Block post body text */
.caption {
	margin: 20px 0;
	font-size: 12px;
}

/* Container for multiple buttons */
.link-buttons {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 55px;
	width: 500px;
}

/* Basic link button */
.link-button {
	color: #fff;
	background-color: #333;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	height: 55px;
	width: 166px;
	margin: 0px 10px 0px 10px;
	opacity: 1.0;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: inline-block;
	transition: .7s;
	vertical-align: middle;
	opacity: 1.0;
}

/* Basic link button (mouse-over settings) */
.link-button:hover {
	opacity: 0.4;
}

/* User info */
.user-info {
	display: inline-block;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 8px;
	margin-left: -4px;
}

/* User info */
.user-info img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	transition: .7s;
	opacity: 1.0;
	margin-top: 5px;
}

.user-info img:hover {
	opacity: 0.3;
	transition: .7s;
}

/* User info */
.user-info span {
	font-size: 13px;
	margin-left: 10px;
	margin-top: -20px;
}

.user-info input {
	opacity: 1.0;
	transition: .7s;
}

.user-info input:hover {
	opacity: 0.5;
	cursor: pointer;
	transition: .7s;
}

.provider {
	float: right;
}

/* Input boxes (login, create account) */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Login page button */
.button-login {
	background: none;
	background-color: #333;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 55px;
	width: 37%;
	text-align: center;
	-webkit-appearance: none;
	display: inline-block;
	padding: 0;
	cursor: pointer;
	outline: none;
	opacity: 1.0;
	transition: .7s;
}

/* Login page button (mouse-over settings) */
.button-login:hover {
	opacity: 0.4;
}

.button-copy {
  position: relative;
  display: inline-block;
}

.button-copy .button-copy-text {
  transition: opacity 0.3s;
  opacity: 0;
  width: 110px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 137%;
  left: 50%;
  margin-left: -59px;
  font-weight: none;
  font-size: 10px;
}

.button-copy .button-copy-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.button-copy:hover .button-copy-text {
  opacity: .95;
}




/*********************** Loading animations ***********************/
.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 56px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 1s ease-in-out;
}

.loading.show {
	opacity: 0.7;
}

.ball {
	background-color: #333;
	border-radius: 50%;
	margin: 10px;
	height: 15px;
	width: 15px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {	 /* Firefox */
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein { 	/* Safari and Chrome */
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadein { 		/* Opera */
    from { opacity: 0; }
    to { opacity: 1; }
}